<div class="padding-10">
    <div class="mat-h1 center">Create your budget</div>

    <stepper-wrapper>
        <stepper-step label="Name your budget" [form]="budgetNameGroup">
            <form [formGroup]="budgetNameGroup">
                <mat-form-field>
                    <mat-label>Budget Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Monthly Budget" formControlName="budgetName">
                </mat-form-field>
            </form>
        </stepper-step>
        <stepper-step label="Enter your monthly income" [form]="monthlyIncomeGroup">
            <form [formGroup]="monthlyIncomeGroup">
                <mat-form-field>
                    <mat-label>Monthly income</mat-label>
                    <span matPrefix>$&nbsp;</span>
                    <input matInput cdkFocusInitial type="number" placeholder="Monthly income"
                        formControlName="monthlyIncome">
                </mat-form-field>
            </form>
        </stepper-step>
        <stepper-step label="Add budget items" [form]="addItemsGroup">
            <div class="center mat-h1">
                <div class="budget-display">
                    Initial Budget: {{monthlyIncomeGroup.value.monthlyIncome | currency}}
                </div>
                <div class="budget-display">
                    Remaining Budget:
                    <span [ngStyle]="remainingBudgetStyle">
                        {{remainingBudget | async | currency}}
                    </span>
                </div>
            </div>
            <form [formGroup]="addItemsGroup" class="form-container">
                <div formArrayName="addItemRows">
                    <div *ngFor="let item of addItemRows.controls; let i = index;" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input type="text" matInput placeholder="Description" formControlName="description">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Amount</mat-label>
                            <span matPrefix>$&nbsp;</span>
                            <input type="number" matInput placeholder="Amount" formControlName="amount">
                        </mat-form-field>
                        <button mat-icon-button (click)="deleteBudgetRow(i)">
                            <mat-icon style="color: red;">remove</mat-icon>
                        </button>
                        <button mat-icon-button (click)="addBudgetRow(i)">
                            <mat-icon style="color: green;">add</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </stepper-step>
        <stepper-step label="Review and Complete!" (formSubmitted)="submitNewBudget()">
            <table mat-table [dataSource]="reviewDataSource" class="mat-elevation-z8" style="width: 50%; margin: auto;">
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let item"> {{item.description | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let item"> {{item.amount | currency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="reviewColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: reviewColumns;"></tr>
            </table>
        </stepper-step>
    </stepper-wrapper>
</div>